.list {
  .img() {
    background-color: #a5a5a5;
    border-radius: 4px;
    height: 200px;
    width: 200px;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: 15px 30px;
  }

  &__img {
    .img();

    &-default {
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 80px;
      justify-content: center;
      .img();
    }
  }

  &__right {
    height: 200px;
    margin-left: 30px;
  }

  &__title {
    align-items: center;
    display: flex;

    span {
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      color: var(--primary-color);
      padding: 0 4px;
    }

    strong {
      font-size: 18px;
      margin-left: 10px;
    }
  }

  &__user-info {
    align-items: center;
    display: flex;
    margin-top: 18px;

    img {
      border-radius: 50%;
      height: 24px;
      width: 24px;
    }

    a {
      margin-left: 8px;
    }

    span {
      color: #666;
      margin-left: 8px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 1;
    margin-top: 22px;

    .--title {
      color: #333;
    }

    .--left {
      margin-left: 12px;
    }
  }

  &__count {
    margin-top: 10px;
  }

  &__introduction {
    display: flex;
    margin-top: 10px;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 300px;
    }
  }

  &__control {
    align-items: center;
    display: flex;
    margin-top: 22px;

    button {
      background-color: #fff;
      border: 1px solid #dad9d8;
      border-radius: 15px;
      font-size: 15px;
      height: 30px;
      margin-left: 10px;
      padding: 0 13px;

      span {
        margin-right: 5px;
      }
    }
  }
}
