@import 'normalize.css';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #4a4a4a;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
