.img {
  position: relative;

  img {
    object-fit: cover;
  }

  &__play {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__loading {
    font-size: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }
}
