.img {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  &__play {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
}
