.video {
  padding: 24px 30px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__button {
    background-color: #fff;
    border: 1px solid #d9d9da;
    border-radius: 15px;
    height: 30px;
    width: 90px;

    &:hover {
      background-color: #f2f3f2;
    }
  }
}
