.find-music {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;

  &__ordinal {
    margin: 0 10px;
    color: #bfbebf;
    font-weight: normal;
  }

  &__artist {
    margin-top: 10px;
    line-height: 1;
  }

  &__list {
    margin-left: 20px;
    line-height: 1;

    &-name {
      font-size: 16px;
    }

    &-detail {
      color: #939494;
      margin-top: 10px;
    }
  }
}
