.find-music {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;

  &__ordinal {
    color: #bfbebf;
    font-weight: normal;
    margin: 0 10px;
  }

  &__artist {
    line-height: 1;
    margin-top: 10px;
  }

  &__list {
    line-height: 1;
    margin-left: 20px;

    &-name {
      font-size: 16px;
    }

    &-detail {
      color: #939494;
      margin-top: 10px;
    }
  }
}
