.footer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 60px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
  position: relative;

  &__left {
    align-items: center;
    display: flex;
    height: 40px;

    img {
      border-radius: 4px;
      height: 40px;
      width: 40px;
    }

    &-name {
      height: 100%;
      margin-left: 10px;

      div {
        height: 20px;
        line-height: 20px;
      }
    }
  }

  &__right span {
    font-size: 16px;
    margin-left: 20px;
  }

  &__mid {
    align-items: center;
    display: flex;

    span {
      font-size: 18px;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }
    }

    .--big {
      font-size: 40px;
    }

    .--red {
      color: var(--primary-color);
    }
  }
}
